*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


html{
    scroll-behavior:smooth;
}


body{

    background:#050505;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    overflow-x:hidden;

}



/* NAVIGATION */


nav{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:30px 8%;

    position:fixed;
    width:100%;
    top:0;

    background:rgba(5,5,5,0.7);
    backdrop-filter:blur(5px);

    z-index:100;

}



.logo{

    font-size:25px;
    font-weight:bold;

}



.nav-links a{

    color:#aaa;
    text-decoration:none;
    margin-left:30px;
    transition:.3s;

}



.nav-links a:hover{

    color:white;

}





/* HERO */


.hero{

    min-height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;

    padding:10%;


}



.tag{

    color:#3b82f6;
    letter-spacing:2px;

}



.hero h1{

    font-size:70px;
    line-height:1.1;

    max-width:900px;

    margin-top:20px;

}



.subtitle{

    color:#aaa;

    font-size:22px;

    max-width:650px;

    margin-top:30px;

    line-height:1.6;

}



.buttons{

    margin-top:40px;

}



.btn{

    display:inline-block;

    padding:15px 35px;

    border-radius:50px;

    background:white;

    color:black;

    text-decoration:none;

    margin-right:15px;

    transition:.3s;

}



.btn:hover{

    transform:translateY(-5px);

}



.secondary{

    background:#111;
    color:white;

}





/* SECTIONS */


.section{

    padding:100px 10%;

}



.section h2{

    font-size:45px;

    margin-bottom:40px;

}



.text{

    color:#aaa;

    max-width:800px;

    font-size:20px;

    line-height:1.8;

}





/* CARDS */


.cards{

    display:flex;

    flex-wrap:wrap;

    gap:25px;

}



.card{

    background:#111;

    padding:35px;

    border-radius:20px;

    width:300px;

    transition:.4s;

    border:1px solid #222;

}



.card:hover{

    transform:translateY(-10px);

    background:#161616;

}



.card h3{

    margin-bottom:15px;

    color:#3b82f6;

}



.card p{

    color:#aaa;

    line-height:1.6;

}





/* ANIMATED BACKGROUND */


.hero::before{

content:"";

position:absolute;

width:450px;

height:450px;

background:#1d4ed8;

filter:blur(80px);

opacity:.18;

}




/* SCROLL ANIMATION */


.reveal{

    opacity:0;

    transform:translateY(40px);

    transition:1s;

}



.reveal.active{

    opacity:1;

    transform:translateY(0);

}





footer{

    text-align:center;

    padding:40px;

    color:#777;

}







/* MOBILE */


@media(max-width:800px){


.hero h1{

    font-size:45px;

}


.nav-links{

    display:none;

}


.card{

    width:100%;

}


}



</style>
